.devilery {
    &__title {
        margin-top: 29px;
        @include font (300, 36px, #373737);
        &__second{
            max-width: 1233px;
            @include font (500, 24px, #373737);
        }
    }
    &__description {
        margin-top: 27px;
        @include font (500, 24px, #373737);

        &__second {
            margin-top: 24px;
            @include font (300, 16px, #373737);
            line-height: 19.5px;
        }

        &__third {
            margin-top: 32px;
            @include font (500, 24px, #373737);
            display: flex;
            align-items: start;
        }

        &__fourth {
            width: 225px;
            @include font (400, 18px, #373737);
        }

        &__fifth {
            max-width: 766px;
            @include font (300, 16px, #373737);
        }
        &__sixth{
            @include font (300, 16px, #373737);
            margin-top: 13px;
        
        }
        &__seventh{
            @include font (300, 16px, #373737);
            margin-top: 13px;
            max-width: 1085px
        }
        &__eighth{
            @include font (300, 16px, #373737);
            margin-top: 13px;
            max-width: 1159px;
        }
        &__ninth{
            @include font (300, 16px, #373737);
            margin-top: 25px;
            max-width: 1159px;
        }
        
    }
    &__icon {
        margin-right: 21px;
        width: 58px;
    }
    &__price{
        margin-top: 38px;
        &__second{
            margin-top: 46px;
        }
    }
    &__fix{
        margin-top: 56px;
        display: flex;
        gap: 41px;
        align-items: center;
        &__second{
            margin-top: 53px;
            display: flex;
            gap: 41px;
            align-items: center;
        }
        &__third{
            margin-top: 85px;
            display: flex;
            align-items: flex-start;
            gap: 41px;
        }
    }
    &__more{
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width:1160px) {
    .devilery{
        &__title{
            text-align: center;
            &__second{
                text-align: center;
            }
        }
        &__description{
            text-align: center;
            &__second{
                text-align: center;
            }
            &__third{
                text-align: center;
            }
            &__fifth{
                text-align: center;
            }
        }
        &__fix{
            flex-direction: column;
            &__second{
                flex-direction: column;
            }
            &__third{
                flex-direction: column;
                align-items: center;
            }
        }
    }
    
}